$bg-color: #fafafa;
$theme-dark: #631c89;
$theme-color: #7b20a1;
$dark-gray: #999;
$essential-color: #ff9409;
$blue-color: #2e369f;
$red-color: #ea4335;
$green-color: #7cbb00;
$font-black-dark: rgba(0, 0, 0, 0.87);
$font-black-light: rgba(0, 0, 0, 0.54);
$transparent-white: rgba(255, 255, 255, 0.9);
$transparent-black-light: rgba(0, 0, 0, 0.3);
$transparent-black-dark: rgba(0, 0, 0, 0.5);
