$max-page-width: 935px;
$max-card-width: 600px;
$smallest-font-size: 10px;
$small-font-size: 14px;
$normal-font-size: 18px;
$h1-font-size: 20px;
$h2-font-size: 16px;
$h3-font-size: 14px;
$content-font-size: 14px;
$big-font-size: 24px;
$biggest-font-size: 28px;
$max-font-size: 50px;
$small-profile-image-size: 25px;
$big-profile-image-size: 25px;
$line-height: 1.3;
$small-font-weight: 300;
$normal-font-weight: 500;
$big-font-weight: 700;
$heading-font-family: "NanumSquare", sans-serif;
